.color {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: solid black 1px;
}

#preto {
  background-color: black;
}

#amarelo {
  background-color: yellow;
}

#azul {
  background-color: blue;
}

#vermelho {
  background-color: red;
}

#pixel-board {
  border: 1px solid black;
  width: 210px;
  height: 210px;
}

.pixel {
  border: solid black 1px;
  position:relative; 
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: white;
}
