#preta {
    background-color: black;
    border: solid black 1px;
}

#amarelo {
    background-color: yellow;
    border: solid black 1px
}

#azul {
    background-color: blue;
    border: solid black 1px
}

#vermelho {
    background-color: red;
    border: solid black 1px
}